* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}

.aniBtn {
    display: flex;
    text-decoration: none;
    background: linear-gradient(#0ccc6c, #25a866);
    color: white;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    height: 45px;
    width: 170px;
    border-radius: 5px;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.aniBtn::before {
    content: "";
    display: inline-block;
    height: 100px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 10px;
    transition: 1s;
    position: absolute;
    top: -10px;
    left: -60px;
    z-index: 1;
    transform: skewX(-30deg);
    filter: blur();
}

.aniBtn:hover.aniBtn::before {
    left: 500px;
}

.hr-div hr {
    display: inline-block;
    border: 2.5px solid #0ccc6c;
    justify-content: center;
    border-radius: 13px;
}

.hr-div {
    width: fit-content;
    margin: 1px auto;
    margin-top: -10px;
}

/* side scrolll bar  */

::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #0be677;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0ccc6c;
}













































/* our lang courses sec  */

.courses-inner-container {
    display: flex;
    max-width: 1250px;
    margin: 30px auto;
    margin-top: 70px;
    justify-content: center;
    gap: 123px;
}

.course-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 30px;
    position: relative;
}

.course-category::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #000;
    border-bottom-right-radius: 5px;
    top: -70px;
    left: 0px;
}

.course-category-section {
    display: flex;
    align-items: center;
}

.course-category-section h3 {
    font-size: 22px;
    font-weight: 500;
}

.course-category h2 span {
    color: #0ccc6c;
}

.all-courses-container {
    border-top: 2px solid #000;
    padding-top: 25px;
    border-top-left-radius: 2px solid #000;
    position: relative;
}

.all-courses-inner-container {
    display: flex;
    gap: 15px;
    position: relative;
    max-width: 800px;
    overflow: scroll;
    padding-bottom: 15px;
    padding-inline: 5px;
    scroll-behavior: smooth;
}

.all-courses-inner-container::-webkit-scrollbar {
    display: none;
}

.all-courses-container::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 200px;
    top: 62px;
    border-top: 2px solid #333;
    left: -135px;
    border-top-right-radius: 5px;
    rotate: -52deg;
}

.all-courses-boxes-all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 215px;
    min-width: 250px;
    gap: 30px;
    box-shadow: 0px 0px 10px #0000001a;
}

.all-courses-inner-box-img p {
    background-color: #d1eedf;
    height: 35px;
    border-radius: 50%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-courses-boxes-all a {
    text-decoration: none;
    width: 150px;
}

.all-courses-inner-box-img p img {
    border-radius: 50%;
    height: 50px;
}




@media (max-width:1100px) {

    .course-category-section h3 {
        font-size: 25px;
    }

    .course-category h2 {
        margin-left: 10px;
        font-size: 35px;
    }

    .courses-inner-container {
        flex-direction: column;
        padding-top: 5px;
        gap: 0px;
        max-width: 800px;
    }

    .all-courses-container {
        border: none;
    }

    .all-courses-container::before,
    .course-category::after {
        display: none;
    }

    .all-courses-boxes-all {
        margin-top: 10px;
    }
}

@Media(max-width:800px) {
    .courses-inner-container {
        margin-top: 50px;
    }
}

@media (max-width:550px) {

    .course-category-section h3 {
        font-size: 22px;
    }

    .courses-inner-container {
        margin-top: 20px;
    }

    .course-category h2 {
        font-size: 32px;
    }
}


@media (max-width:350px) {

    .course-category h2 {
        font-size: 30px;
    }
}




.ul-align-left {
    width: fit-content;
}

.ul-align-left li {
    align-items: left;

}

.ul-align-right {
    margin-left: auto;
    width: fit-content;
    align-items: right;
    text-align: right;
}

.h2-align-right li {
    padding-right: 0px;
}





/* ignite section */


.ignite-main {
    display: flex;
    max-width: 1350px;
    margin: 100px auto 170px;
    justify-content: space-between;

}

.ignite-img-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.ignite-img-inner-container img {
    width: 400px;
}

.ignite-img-inner-container img:last-child {
    position: absolute;
    transform: translateY(200px) translateX(120px);
    z-index: -1;
}

.ignite-content-container {
    display: flex;
    flex-direction: column;
}

.ignite-content-sub-heading {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ignite-content-container h3 {
    font-size: 18px;
}

.ignite-content-container h2 {
    font-size: 40px;
    max-width: 700px;
}

.ignite-content-container h2 span {
    color: #0ccc6c;
}

.ignite-content-container p {
    max-width: 600px;
    margin-block: 30px;
}

.ignite-content-container ul {
    display: flex;
    flex-direction: column;
}

.ignite-content-container ul li {
    list-style: none;
    display: flex;
    align-items: center;
    height: 40px;
}

.ignite-content-sub-heading h3 {
    margin-left: 10px;
}

.ignite-content-container ul li img {
    transform: rotate(90deg);
    height: 20px;
    width: 20px;
    margin-right: 5px;
    position: relative;
    top: 2px
}







@media (max-width:1235px) {

    .ignite-main {
        gap: 120px;
    }

    .ignite-img-inner-container img {
        width: 350px;
    }

    .ignite-content-container h2 {
        font-size: 38px;
    }
}

@media (max-width:1130px) {

    .ignite-img-inner-container img {
        width: 300px;
    }

    .ignite-content-container h2 {
        font-size: 38px;
    }
}

@media (max-width:865px) {

    .ignite-content-container h2 {
        font-size: 35px;
    }

    .ignite-content-container p,
    .ignite-content-container ul li {
        font-size: 15px;
    }

}

@media (max-width:750px) {

    .ignite-main {
        flex-direction: column;
        gap: 220px;
    }

    .ignite-content-container {
        margin-left: 10px;
    }

    .ignite-content-container h2 {
        font-size: 32px;
    }

    .ignite-content-container p,
    .ignite-content-container ul li {
        font-size: 14px;
    }
}

@media (max-width:500px) {

    .ignite-img-inner-container img {
        width: 230px;
    }

    .ignite-img-inner-container img:last-child {
        position: absolute;
        transform: translateY(200px) translateX(80px);
        z-index: -1;
    }

    .ignite-content-container h2 {
        font-size: 28px;
    }

    .ignite-content-container ul {
        gap: 10px;
    }
}



































/* our courses in details */

.all-course-details {
    display: flex;
    width: 100%;
    margin: 50px auto;
    justify-content: center;
    gap: 100px;
    padding: 70px;
    background-color: #0ccc6c1a;

}

.all-course-left-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.all-course-left-part>h2 {
    max-width: 511px;
    font-size: 40px;
    line-height: 45px;
}


.h2-align-right {
    text-align: right;
}

.all-course-img-container {
    height: 360px;
    width: 500px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    border-radius: 20px;

}

.all-course-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.all-course-left-part h2 span {
    color: #0ccc6c;
}

.all-course-left-part ul {
    display: flex;
    gap: 25px;
}

.all-course-left-part ul li {
    list-style: none;
    display: flex;
    align-items: left;
    gap: 3px;
}

.all-course-left-part ul:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    /* text-align: right; */
}

.all-course-left-part ul:last-child li {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #3333336f;
    padding-right: 70px;
}

.all-course-left-part ul:last-child li:last-child,
.all-course-left-part ul:last-child li:nth-child(2) {
    border: none;
    padding-right: 0px;

}

.all-course-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.course-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.all-course-information p {
    max-width: 650px;
    color: #333;
}

.all-course-information h2 {
    font-size: 30px;
}

.what-will-you-learn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.courses-certification {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-course-details,
.forth-course-details,
.sixth-course-details {
    flex-direction: row-reverse;
    background-color: #0ccc6c1a;

}

.all-course-img-container img {
    object-fit: cover;
}




@media (max-width:1120px) {

    .all-course-details {
        gap: 70px;
    }

    .all-course-details {
        padding: 30px;
    }

    .all-course-left-part>h2 {
        font-size: 37px;
    }

    .all-course-information h2 {
        font-size: 28px;
    }

    .all-course-information p {
        font-size: 13px;
    }

    .ignite-main {
        margin: 80px auto 130px;
    }
}

@media (max-width:850px) {

    .all-course-left-part>h2 {
        font-size: 30px;
    }

    /* .courses-certification {
        position: absolute;
        left: 30px;
        bottom: 20px;
    } */

    .all-course-details {
        padding-bottom: 50px;
    }

    .ignite-main {
        margin: 50px auto 20px;
    }
}

@media (max-width:800px) {

    .all-course-details {
        flex-direction: column;
    }

    .all-course-img-container {
        margin: 0px auto 10px;
    }

    .all-course-left-part>h2 {
        font-size: 27px;
        margin: auto;
        text-align: center;
    }

    .all-course-information h2 {
        font-size: 25px;
    }

    .all-course-left-part ul {
        justify-content: center;
    }
    .courses-certification{
        position: static;
    }
}

@media (max-width:540px) {

    .all-course-img-container {
        width: 450px;
    }
}

@media (max-width:480px) {


    .all-course-img-container {
        width: 360px;
        height: auto;
    }

    .all-course-information h2 {
        font-size: 22px;
    }

    .all-course-left-part>h2 {
        font-size: 22px;
        line-height: 24px;
    }

    .all-course-left-part ul li {
        font-size: 14px;
    }

    .courses-certification {
        position: static;
    }
}

@media (max-width:400px) {

    .all-course-img-container {
        width: 100%;
        height: 100%;
    }
}































/* consulting section  */

.about-consulting-main {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-block: 30px;
    margin-top: 120px;
}

.about-consulting-image {
    height: fit-content;
    width: 32%;
    position: relative;
    top: 1rem;
}

.about-consulting-image img {
    width: 100%;
    border-radius: 10px;
}

.about-consulting-image img:nth-child(2) {
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: -100px;
    left: -100px;
    border: 15px solid #fff;
}

.about-consulting-content {
    display: flex;
    flex-direction: column;
    width: 43%;
}

.about-consulting-content-subHeading {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 30px;
}

.about-consulting-content-subHeading hr {
    rotate: 90deg;
    height: 60px;
    border: 2px solid #0ccc6c;
}

.about-consulting-content-subHeading h3 {
    background: linear-gradient(#0ccc6c, #25a866);
    color: transparent;
    background-clip: text;
    font-size: 24px;
}

.about-consulting-content-heading h2 {
    font-size: 45px;
    max-width: 480px;
}

.about-consulting-span {
    color: #0ccc6c;
}

.about-consulting-half-content p {
    max-width: 620px;
    color: #333;
    line-height: 30px;
    margin: 20px 0px;
}

.about-consulting-ul li::before {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    background-image: url("https://cdn-icons-png.flaticon.com/128/724/724846.png?ga=GA1.1.1064781564.1691778604&semt=ais");
    background-size: contain;
    top: 0px;
    left: -40px;
}

.about-consulting-hr {
    border: 1px solid #3333332e;
    margin-block: 20px;
}

.about-consulting-end-content {
    display: flex;
    justify-content: left;
    gap: 140px;
    align-items: center;
}

.about-consulting-end-content a {
    height: 50px;
    width: 190px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #0ccc6c;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-consulting-image-2 {
    display: none;
}


@media (max-width:1130px) {
    .about-consulting-content-heading h2 {
        font-size: 37px;
    }

    .about-consulting-half-content p {
        line-height: 28px;
    }

    .about-consulting-content {
        width: 50%;
    }

    .about-consulting-main {
        gap: 47px;
    }
}

@media (max-width:920px) {
    .about-consulting-content-heading h2 {
        font-size: 35px;
    }

    .about-consulting-image {
        top: 4rem;
    }

    .about-consulting-end-content a {
        height: 44px;
        width: 170px;
        font-size: 16px;
    }
}

@media (max-width:805px) {
    .about-consulting-content-heading h2 {
        font-size: 31px;
    }

    .about-consulting-half-content p {
        line-height: 26px;
    }
}

@media (max-width:715px) {
    #about-consulting-image-2 {
        display: block;
        top: 0px;
        width: 69%;

    }

    #about-consulting-image-1 {
        display: none;
    }

    .about-consulting-content {
        width: 81%;
        align-items: center;
    }

    .about-consulting-content-heading h2 {
        text-align: center;
    }

    .about-consulting-main {
        margin-top: 40px;
    }

}

@media (max-width:420px) {
    #about-consulting-image-2 {
        width: 77%;

    }
}